/* baner2 */
.con--baner2{
    width: 1084px;
    height: 282px;
    background-image: url(../Files/images/planner\ book.png),url(../Files/images/planner\ book\ back.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 114px auto ;
    padding: 55px 70px 55px 615px ;
    box-sizing: border-box;
}
.btn--baner2{
    width: 142px;
    height: 48px;
    border-radius: 4px;
    outline: none;
    border: 0;
    background-color: var(--primery);
    color: var(--white);
    margin-top: 20px;
}
.p--baner2{
    color: var(---17263D);
    line-height: 26px;
}
.h1--baner2{
    color: var(---17263D);
}