body{
    ---8E8E8E:#8E8E8E;
    --white:#fff;
    --aaaaaa:#aaaaaa;
    --primery:#395E98;
    --d3deef:#d3deef;
    ---3E3E3E:#3E3E3E;
    ---555555:#555555;
    ---717171:#717171;
    --unnamed-color-eb5b41:#EB5B41;
    ---F4F4F4:#F4F4F4;
    ---3D3D3D:#3D3D3D;
    ---3B4646:#3B4646;
    ---22744F:#22744F;
    ---106883:#106883;
    ---8B4736:#8B4736;
    ---4A2546:#4A2546;
    ---AC9D29:#AC9D29;
    ---246053:#246053;

}
