$icomoon-font-family: "drnekouie" !default;
$icomoon-font-path: "fonts" !default;

$icon-archive: "\e900";
$icon-article: "\e901";
$icon-book: "\e902";
$icon-calander: "\e903";
$icon-clock: "\e904";
$icon-compass: "\e905";
$icon-cup: "\e906";
$icon-down-page: "\e907";
$icon-download: "\e908";
$icon-enter-arrow: "\e909";
$icon-headphone: "\e90a";
$icon-image: "\e90b";
$icon-instagram: "\e90c";
$icon-map: "\e90d";
$icon-medal: "\e90e";
$icon-people: "\e90f";
$icon-play-border: "\e910";
$icon-play: "\e911";
$icon-test: "\e912";
$icon-tv: "\e913";
$icon-user: "\e914";

